.header a{
  color: #000000;
}
.header h3{
        font-family: 'Shift', sans-serif;
        font-size: 18px;
        font-weight: bold;}
.header{
    height: 20px;
    background-color: #f7f7f7;
}

.jumbotron{
        height: 500px;
        background-image: url('https://goo.gl/04j7Nn');
    }
 .jumbotron h1{
        color: #fff;
        font-size: 48px;
        font-weight: bold; }
.jumbotron p{
        color: #fff;
        font-size: 20px;}